
/* ========== RESET בסיסי ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Huninn', sans-serif;
}

body {
    font-family: 'Huninn', serif;
    background: linear-gradient( #2a00ff, #320073, #6f00a8);
    color:  #ffffff;;
    line-height: 1.6;
}

/* ===== כותרות ===== */
header h1, header h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--black);
}

/* ===== כפתורים ===== */
.btn, .option-btn {
    display: inline-block;
    background: var(--pink);
    padding: 12px 25px;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
}

.btn:hover, .option-btn:hover {
    background: var(--pink-dark);
    transform: scale(1.05);
}


/* ===== HEADER כללי לכל האתר ===== */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
     background: linear-gradient(
        to bottom,
        #000000,
        #1a1a1a,
        #000000
    );
    color: var(--white);
}

   
   


.main-header .logo {
    font-family: 'Momo Trust Display', sans-serif;
    font-size: 2rem;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
}




.main-header nav a:hover {
    opacity: 0.7;
    color: #4BC9FF;
}
.main-header nav a {
    color:#AEE6FF;
    text-decoration: none;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-weight: bold;
    margin-left: 20px;
    transition: 0.3s;
}


/* ===== FOOTER כללי ===== */
footer {
    text-align: center;
    margin-top: 80px;
    padding: 20px;
    background: #081524;
    color: #ffffff;
    font-size: 0.9rem;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}


/* ===== רספונסיביות ===== */
@media (max-width: 600px) {
    .choice-box {
        flex-direction: column;
        gap: 10px;
        width: 80%;
        margin: 0 auto;
    }

    .option-btn {
        width: 100%;
    }

    body {
        padding: 10px;
    }
}
